* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5a90ba;
}

.container {
    position: relative;
    height: 400px;
}

.cloud {
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background: #fff;
    border-radius: 100px;
    display: flex;
    margin: 4em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cloud::before {
    content: '';
    position: absolute;
    z-index: -10;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #fff;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    position: absolute;
    top: 30px;
}

h2 {
    color: white;
    position: absolute;
    top: 60px;
}

#filter-button {
    position: absolute;
    top: 90px;
    color: white;
}