<%- include('./partials/head') %>

  <link rel="stylesheet" href="/style/style.css">

  <h3>D, E, F</h3>

  <ul class="container">
    <li><a href="/squad/3" class="bubble">D</a></li>
    <li><a href="/squad/4" class="bubble2">E</a></li>
    <li><a href="/squad/5" class="bubble3">F</a></li>
  </ul>



  <%- include('./partials/foot') %>